<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Autores</h1>
    <p>Sergio Pérez Morillo</p>
    <img src="quiz.jpg"> 
  </body>
</html>
